@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap');
@import url(global.css);
@import url(header-nav.css);
@import url(index.subscribe_to_get.css);

.branding__intro{
	background: 
	url(img/branding/man.webp);
	min-height: 600px;
	background-size: cover ;
    background-position: 20% 50%;
 
}

.branding__container {
	max-width: 1200px;
	margin: 0 auto;
}

.branding__grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 70px 0;
}

h2 {
	font-family: Saira, sans-serif;
    font-size: 44px;
	font-weight: normal;
}

.grid-0 h2 {
	color:#212020;
}

.grid-0 {
	padding-left: 20px;
}

.branding__text {
	font-family: Merriweather, serif;
    font-size: 15px;
	color:#595452;
	padding-top: 30px;
	padding-bottom: 30px;
	line-height: 25px;
}

.branding__twoone {
    display: flex;
    margin-top: 25px;
    background-color: white;
}
.left {
    width: 100%;
}
.right-form{
    width: 100%;
    text-align: center;
    margin-left: 45px;
}

p {
    font:"Merriweather";
}
input {
    display: block;
    top: auto;
    opacity: 1;
    margin-top: 15px;
    border: 0;
    font-family: inherit;
    text-overflow: ellipsis;
    background-color: hsla(0,0%,40.4%,.2);
    max-width: 350px;
}

button{
opacity: 1;
max-width: 350px;
}