@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;700&display=swap');
@import url(global.css);
@import url(header-nav.css);
@import url(index.subscribe_to_get.css);

.photoandcustomproducts {
    display: flex;
    margin-top: 25px;
    background-color: white;
}
.left {
    width: 100%;
}
.right-form{
    width: 100%;
    text-align: center;
    margin-left: 45px;
}

input {
    display: block;
    width: 100%;
    top: auto;
    opacity: 1;
    margin-top: 15px;
    border: 0;
    font-family: inherit;
    text-overflow: ellipsis;
    background-color: hsla(0,0%,40.4%,.2);
}