.btn {
    font-weight: bold;
    font-family: var(--paragraphs-font-family);
    font-weight: 400;
    color: var(--btn-text-color-var1);
    background-color: var(--btn-primary-color-red);
    border: thin solid transparent;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;

}
.btn:hover {
    background-color: var(--btn-background-color-var2);
}