.crafties{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width:310px;
	max-width:643px;
    margin-left:auto;
	margin-right:auto;    
}

@media (min-width: 768px) {
    .crafties{
        width: 100%;
		max-width: 1200px;
		display:flex;
        flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0px 40px;
    }
}