.crafties{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width:310px;
	max-width:643px;
    margin-left:auto;
	margin-right:auto;    
}
.crafties.div{
    width: 302px;
}

.picture{
    object-fit: cover;
    object-position: 43.898% 44.957%;
}

@media (min-width: 768px) {
    .crafties{
        width: 100%;
		max-width: 1200px;
		display:flex;
        flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0px 40px;
    }
    div.crafties{
        width: 240px;
    }
    
    .picture{
        object-fit: cover;
        object-position: 43.898% 44.957%;
    }
}