.gift-packs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 80px 0 90px;
    background-color: var(--background-color-for-intro);
}
.gift-packs__title {
    color: var(--color-for-main-text-on-light-bg);
    font-family: var(--title-font-family);
    font-weight: 400;
    font-size: 38px;
    letter-spacing: -1.14px;
    line-height: 41.8px;
    text-align: center;
}

.gift-packs-carousel__container {
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    align-items: center;
}

.gift-packs-carousel__slide-container {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gift-pack__card-discription {
    margin-top: 30px;
}
.gift-pack__card-discription,
.gift-pack__card-price {
    color: var(--color-for-secondary-text-on-light-bg);
    font-family: var(--paragraphs-font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

/* btn next & prev */

.gift-packs-carousel__btn-next,
.gift-packs-carousel__btn-prev {
    height: 24px;
    cursor: pointer;
    border: none;
    background: none;
}

.gift-packs-carousel__btn-prev {
    transform: scaleX(-1);
}


@media (min-width: 375px) {
    .gift-pack__card-img {
        max-width: 298px;
    }
}

@media (min-width: 425px) {
    .gift-pack__card-img {
        max-width: 348px;
    }
}

@media (min-width: 768px) {
    .gift-packs__title {
        font-size: 44px;
        letter-spacing: -1.32px;
        line-height: 48.4px;
    }

    .gift-pack__card-img {
        max-width: 322px;

    }

    .gift-packs-carousel__container {
        grid-template-columns: 36px 1fr 36px;
    }

    .gift-packs-carousel__btn-next,
    .gift-packs-carousel__btn-prev {
        height: 36px;
    }
}

@media (min-width:1024px) {
    .gift-packs__title {
        font-size: 50px;
        letter-spacing: -1.5px;
        line-height: 55px;
    }

    .gift-pack__card-img {
        max-width: 206px;
    }
}

@media (min-width:1440px) {
    .gift-pack__card-img {
        max-width: 263px;
    }
}