@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
    /* btn settings */
    --btn-email-background-color-grey: #ffffff1f;
    --btn-text-color: #e04141;
    --btn-text-color-var1: #ffffff;
    --btn-text-color-var2: #212020;
    --btn-background-color: #e04141;
    --btn-background-color-var1: #ffffff;
    --btn-background-color-var2: #212020;
    --btn-carousel-background-color: #000;
    
    /*border*/
    --outline-color: #3b99fc;

    /* font family */
    --title-font-family: 'Saira', sans-serif;
    --paragraphs-font-family: 'Merriweather', serif;
    /* text colors */
    --color-for-main-text-on-dark-bg: #ffffff;
    --color-for-secondary-text-on-dark-bg: #c2c2c2;
    --color-for-main-text-on-light-bg: #212020;
    --color-for-secondary-text-on-light-bg: #595452;
    --color-for-price: #e04141;
    --color-for-input-email: #ebebeb;
    /* background colors */
    --background-color-for-intro: rgb(243, 239, 239);
    --background-color-darken: #212020;
    --background-color-light: #fff;
}

img {
    display: block;
    width: 100%;
}

body {
    min-width: 310px;
    margin: auto;
    font-family: var(--paragraphs-font-family);
    line-height: inherit;
}

.container {
    max-width: 1200px;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

h1, h2, h3 {
    font-family: var(--title-font-family);
}