@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
    /* btn settings */
    --btn-primary-color-red: #e04141; /* button color Red*/
    --btn-hover-color-white: #ffffff; /* button hover color White*/
    --btn-email-background-color-grey: #ffffff1f;

    --btn-text-color: #e04141;
    --btn-text-color-light: #ffffff;
    --btn-text-color-dark: #212020;
    --btn-background-color: #e04141;
    --btn-background-color-light: #ffffff;
    --btn-background-color-dark: #212020;

    /* font family */
    --title-font-family: 'Saira', sans-serif;
    --paragraphs-font-family: 'Merriweather', serif;
    /* text colors */
    --color-for-main-text-on-dark-bg: #ffffff;
    --color-for-secondary-text-on-dark-bg: #c2c2c2;
    --color-for-main-text-on-light-bg: #212020;
    --color-for-secondary-text-on-light-bg: #595452;
    --color-for-price: #e04141;
}

img {
    display: block;
    width: 100%;
}

body {
    min-width: 310px;
    margin: auto;
    font-family: var(--paragraphs-font-family);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1, h2, h3 {
    font-family: var(--title-font-family);
}