.header__top {
    text-align: center;
    margin-top: 40px;
}
.header__top h1 {
    font-size: 34px;
}
.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__menu, .header__submenu {
    display: flex;
    list-style: none;
}
.header__menu__item {
    margin-right: 25px;
    font-size: 18px;
    font-family: sans-serif;
}
.header__menu__item a {
    text-decoration: none;
    color: black;
}
.header__menu__item a:hover {
    color: red;
}