
.customorders{
	background: 
	url(../img/branding/man.webp);
	min-height: 600px;
	background-size: cover ;
    background-position: center ;
 
}

.branding__container {
	max-width: 1200px;
	margin: 0 auto;
}



.branding__grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 70px 0;
}

.branding__title {
	font-family: Saira, sans-serif;
    font-size: 44px;
	color:#212020;
	font-weight: normal;
}

.branding__text {
	font-family: Merriweather, serif;
    font-size: 15px;
	color:#595452;
	padding-bottom: 30px;
}

.branding__button {
	outline: none;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border-radius: 25px;
	font-family: Merriweather, serif;
	font-size: 14px;
	color:#212020;
	height: 40px;
	width: 140px;
	border-color: #e04141;
	background-color: rgba(28,28,28,0);
	transition-duration: 0.4s;
}

.branding__button:hover {
	background-color: #e04141;
	color: white;
	cursor: pointer;
}