@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

nav {
    background-color: #000; 
    color: #fff; 
    padding: 50px 0; 
    text-align: center;
}

.collection__title {
    font-family: 'Saira', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.collection {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.collection-item {
    text-align: center;
    margin: 10px;
}

.collection img {
    width: 100%;
    height: auto;
    max-width: 100%; 
    border-radius: 0;
}

.Illustration_holders {
    max-width: 740px;
    max-height: 1100px;
}

.Illustration__wallets {
    max-width: 989px;
    max-height: 659px;
}

.Illustration__cases {
    max-width: 740px;
    max-height: 1100px;
}

.btn {
    display: block;
    background-color: #e04141; 
    color: #fff; 
    padding: 15px 30px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 0;
}


.button__learn_more {
    display: inline-block;
    margin-top: 20px;
    padding: 20px 40px;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: #6d5e5e;
    color: #fff;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button__learn_more:hover {
    background-color: #333;
}