.subscribe{	
    background: linear-gradient(rgba(0,0,0,0.5), url(img/bag-in-hand.webp));
    background-position: center;
    font-family: "Saira", sans-serif;
}
.subscribe__main-content{
    background-color: #212020;
    opacity: 0.7;
    height:400px;
}
.subscribe__main-content__titlepart{
    width:600px;
    height:177px;
}
.subscribe__main-content__text{
    color: #fff;
}
.subscribe__main-content__description{
    color: #ebebeb;
}
.subscribe__main-content__form__email{
    width: 266px;
    height: 35px;
    background-color: #595452;
    color: #ebebeb;
    border:none;
    border-radius:20px;
}
.subscribe__main-content__form__button{
    opacity: none;
    width: 266px;
    height: 35px;
    background-color: #e04141;
    color: #fff;
    border:2px;
    border-radius:20px;
}