.whyus {
    background-image: url(../img/why-us/black-cloth.jpeg);
    padding: 80px 24px 90px;
}



.whyus__title {
    color: var(--color-for-main-text-on-dark-bg);
    text-align: center;
    font-family: var(--title-font-family);
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 20px;
}

