.subscribe {	
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(/img/subscribe-to-get/bag-in-hand.webp);
    background-position: center;
    background-size: cover;
    min-height: 591px;
    padding: 80px 24px 90px 24px; 
}
.subscribe__main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1624px;
}
.subscribe__main-content__titlepart {
    padding: 0 15px;
}
.subscribe__main-content__text {
    font-family: Saira, sans-serif;
    font-size: 38px;
    color: var(--text-color-white);
}
.subscribe__main-content__description {
    font-family: Merriweather, serif;
    font-size: 16px;
    color: var(--text-color-white);
}
.subscribe__main-content__form {
    font-family: Merriweather, serif;
    font-size: 14px;
}
.subscribe__main-content__form__email {
    opacity: 0.33;
    width: 100%;
    min-width: 272px;
    height: 39px;
    background-color: var(btn-email-background-color-grey);
    background-attachment: scroll;
    background-clip: border-box;
    color: var(btn-email-background-color-grey);
    border:none;
    border-radius:20px;
    padding: 10 10px;
}
.subscribe__main-content__form__button {
    width: 100%;
    min-width: 272px;
    height: 39px;
    background-color: var(--btn-primary-color-red);
    color: var(--text-color-white);
    border:2px;
    border-radius:20px;
}
.subscribe__main-content__form__button:hover {
    cursor: pointer;
    background-color: var(--btn-hover-color-white);
    color: var(--text-color-black);
}

@media (min-width:768px) {
    .subscribe__main-content {
        flex-direction: row;
    }
    .subscribe__main-content__titlepart {
        margin-top: 0 15px; 
        min-width: 337px; 
    }
    .subscribe__main-content__text {
        font-size: 44px;
    }
}