.gift-packs {
    padding: 80px 24px 90px;
}

.gift-packs__title {
    margin-bottom: 20px;
    color: var(--color-for-main-text-on-light-bg);
    font-family: var(--title-font-family);
    font-weight: 400;
    font-size: 38px;
    letter-spacing: -1.14px;
    line-height: 41.8px;
    text-align: center;
}


.gift-pack__card-discription {
    padding: 20px;
    color: var(--color-for-secondary-text-on-light-bg);
    font-family: var(--paragraphs-font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

@media (min-width:768px) {
    .gift-packs__title {
        font-size: 44px;
        letter-spacing: -1.32px;
        line-height: 48.4px;
    }

}

@media (min-width:1024px) {
    .gift-packs__title {
        font-size: 50px;
        letter-spacing: -1.5px;
        line-height: 55px;
    }

}