@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.collection__title {
    color: white;
    background: black;
    text-align: center;
}

.holders {
    display: block;

}

.btn collection__holders {}

.Illustration_holders {
    object-position: 50% 50%;
    object-fit: cover;
}

.btn collection__wallets {}

.llustration__wallets {
    object-position: 76.89% 79.385%;
    object-fit: cover;
}

.btn collection__cases {}

.Illustration__cases {
    object-position: 50% 50%;
    object-fit: cover;
}

.button__learn_more {
    display: inline-block;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
}