.whyus {
    background-image: url(../img/why-us/black-cloth.jpeg);
    padding: 80px 24px 90px;
}
.whyus__track-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.whyus__title {
    color: var(--text-color-white);
    text-align: center;
    font-family: var(--title-font-family);
    font-size: 38px;
    font-weight: 400;
}

.whyus img {
    width: 70px;
    margin: auto;
}

.whyus__proof {
    margin: auto;
    font-family: var(--title-font-family);
    color: var(--text-color-white);
    text-align: center;
    font-size: 26px;
    font-weight: 400;
}

.whyus__cool {
    color: var(--text-color-gray);
    font-family: var(--paragraphs-font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 50px;
}

