.gift-packs {
    display: flex;
    flex-direction: column;
    padding: 80px 24px 90px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.gift-packs__title {
    margin-bottom: 20px;
    color:var(--text-color-black);
    font-family: var(--title-font-family);
    font-weight: 400;
    font-size: 38px;
    letter-spacing: -1.14px;
    line-height: 41.8px;
    text-align: center;
}

.gift-packs__arrow-left,
.gift-packs__arrow-right {
    width: 36px;
    height: 48px;
}

.gift-packs__arrow-left {
    transform: rotate(-90deg);
}

.gift-packs__arrow-right {
    transform: rotate(90deg);
}

.gift-packs__cards {
    display: grid;
}

.gift-packs__card {
    min-width: 320px;
}

.gift-pack__card-img {
    max-width: 242px;
}

.gift-pack__card-discription {
    color: var(--text-color);
    font-family: var(--paragraphs-font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

@media (min-width:375px) {
    .gift-pack__card-img {
        max-width: 298px;
    }
}

@media (min-width:375px) {
    .gift-pack__card-img {
        max-width: 348px;
    }
}

@media (min-width:768px) {
    .gift-packs__title {
        font-size: 44px;
        letter-spacing: -1.32px;
        line-height: 48.4px;
    }

    .gift-packs__cards {
        grid-template-columns: 1fr 1fr;
    }

    .gift-pack__card {
        padding: 0 15px;
    }

    .gift-pack__card-img {
        max-width: 322px;

    }
}

@media (min-width:1024px) {
    .gift-packs__title {
        font-size: 50px;
        letter-spacing: -1.5px;
        line-height: 55px;
    }

    .gift-packs__cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .gift-pack__card {
        padding: 0 15px;
    }

    .gift-pack__card-img {
        max-width: 206px;
    }
}
@media (min-width:1440px) {
    .gift-pack__card-img {
        max-width: 263px;
    }
}
