.subscribe-bg{
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(../img/bag-in-hand.webp);
	background-position: center;
    background-size: cover;
	background-attachment: fixed;
	min-width:310px;
	min-height: 210px;
}

.subscribe{
	display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 24px 90px 24px;
	min-width:310px;
	max-width:643px;
	margin-left:auto;
	margin-right:auto;
}

.subscribe__title{
	font-family: var(--title-font-family);
    font-size: 38px;
    color: var(--color-for-main-text-on-dark-bg);
}

.subscribe__clear-space{
	display: none;
}

.subscribe__text{
	font-family: var(--paragraphs-font-family);
    font-size: 16px;
    color: var(--color-for-main-text-on-dark-bg);
}

.subscribe__form{
	margin-top:50px;
}

.subscribe__form__email, .subscribe__form__button{
	width: 100%;
	min-width: 272px;
	height: 39px;
	border-radius:20px;
	margin-bottom:15px;
}

.subscribe__form__email{
	background-color: rgba(255, 255, 255, 0.12);
	border:none;
	background-attachment: scroll;
	background-clip: border-box;
	padding-left: 30px;
}

.subscribe__form__email::placeholder{
	font-size: 14px;
	font-family: var(--paragraphs-font-family);
	color: var(--color-for-input-email);
}

.subscribe__form__email:focus{
	outline-color: var(--outline-color);
}

.subscribe__form__button{
	background-color: var(--btn-background-color);
	color: var(--color-for-main-text-on-dark-bg);
	border: 2px;
	transition: background 0.5s ease;
}

.subscribe__form__button:hover{
	background-color: var(--btn-background-color-var1);
	color:var(--color-for-main-text-on-light-bg);
	transition: background 0.5s ease;
}

@media (min-width: 768px) {
	.subscribe__clear-space{
		display: block;
		min-width: 183px;
		max-width: 300px;
	}

    .subscribe{
		width: auto;
		display:flex;
        flex-direction: row;
		justify-content: center;
		align-items: center;
    }
	.subscribe__content{
		min-width: 337px;
		max-width: 600px;
	}
	.subscribe__form{
		margin-top: 8px;
		min-width: 183px;
		max-width: 300px;
	}
	.subscribe__form__email, .subscribe__form__button{
		min-width: 154px;
	}
}